body {
    margin: 0;
    font-family: Arial, sans-serif, -apple-system, 'Helvetica Neue';
    background-color: #FECD44;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

.centerTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.btn {
    background: #451610;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

input, select {
    padding: 1vw;
    outline: none;
    border: none;
    text-align: center;
    font-size: 3vw;
    color: #451610;
    font-weight: 600;
}
.login_input {
    margin: 10px 0 10px 0;
    padding: 10px;
    width: 100%;
}
table {
    border-collapse: collapse;
    background: white;
}

.sbc_header {
    background-color: #FECD44;
    width: 100%;
    height: 6%;
    display: flex;
    flex-direction: row;
    float: left;
}

#logo {
    width: 10%;
    height: 200%;
    background-color: #FECD44;
}

#sbc-img {
    width: 100%;
    height: 30%;
    background-size: cover;
    background-repeat: no-repeat;
}

#sbc {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
}

.sbc_text {
    font-size: 10vw;
    text-align: left;
    color: #FECD44;
    width: 50%;
    margin-left: 1%;
    font-weight: 900;
    position: absolute;
    margin-top: 10%;
    text-shadow: 5px 5px 5px #000;
}
#about_us {
    border-radius: 15px;
    background-color: #451610;
    box-shadow: 10px 10px 10px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50%;
    width: 80%;
    color: #FECD44;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 2%;
    padding: 2%;
    font-size: 3vw;
}
#about_text {
    margin-top: -10px;
    color: white;
}
#mission {
    box-shadow: 10px 10px 10px #000;
    background-color: #451610;
    padding: 2%;
    margin-bottom: 2%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    color: #FECD44;
    width: 80%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    font-size: 3vw;
    justify-content: center;
}
#mission_text {
    margin-top: -10px;
    color: white;
}
#vision {
    box-shadow: 10px 10px 10px #000;
    padding: 2%;
    margin-bottom: 2%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    color: #FECD44;
    width: 80%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    font-size: 3vw;
    background-color: #451610;
}
#vision_text {
    margin-top: -10px;
    color: white;
}
#why {
    display: flex;
    flex-direction: row;
    margin: 5% 1% 1% 1%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#text_container {
    width: 50%;
    height: 50%;
    background-color: #451610;
    padding: 10px;
    justify-content: center;
    margin-top: 0;
}
#why_text {
    color: white;
    font-size: 2.8vw;
    width: 100%;
}
#note_div {
    width: 50%;
    height: 50%;
    background-color: #451610;
    margin-right: 2%;
}
#note_header {
    position: relative;
    color: white;
    text-align: center;
    font-size: 3vw;
    padding: 10px;
}
.music_notes {
    background-size: cover;
    width: 100%;
    height: 100%;
}
.point {
    font-weight: bold;
}
#winners {
    height: 50%;
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
}
#stages {
    color: white;
    padding: 1%;
    font-size: 3vw;
    margin-top: 20px;
    background-color: #451610;
}
#stages_header {
    color: #FECD44;
    text-align: center;
    text-decoration: underline;
}
#next_container {
    width: 70%;
    height: 30%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
#next {
    width: 100%;
    height: auto;
}
#pros {
    width: 100%;
    background-color: #451610;
    color: white;
    font-size: 3vw;
    margin-left: auto;
    margin-right: auto;
    padding: 1vw;
    margin-top: 2%;
}
#pros_header {
    text-align: center;
    font-size: 4vw;
    color: #FECD44;
}
.details {
    list-style-type: square;
}
.space {
    margin-bottom: 2%;
}
.btn-two {
    background-color: #FECD44;
    color: #451610;
    font-size: 3vw;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 2px solid #FECD44;
    font-weight: bold;
    border-radius: 10px;
}
.btn-three {
    background-color: #451610;
    color: #FECD44;
    font-size: 3vw;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 2px solid #451610;
    font-weight: bold;
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.btn-four {
    background-color: #451610;
    color: #FECD44;
    font-size: 2vw;
    padding: 1vw;
    border: 2px solid #451610;
    font-weight: 600;
    border-radius: 10px;
}
#export {
    background-color: #451610;
    color: #FECD44;
    font-size: 2vw;
    padding: 1vw;
    border: 2px solid #451610;
    font-weight: 600;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border-radius: 10px;
}
#dashboard {
    font-size: 3vw;
    color: #451610;
}
.centralize {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#admin_logo {
    margin: 0 auto -4vw auto;
    width: 16vw;
    height: 16vw;
    display: block;
}

#prev_winners {
    height: 200%;
    width: 100%;
    margin-bottom: 70%;
}
#prev {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 90%;
}
#prev_text {
    color: #451610;
    font-size: 4vw;
    text-align: center;
    border: 3px dotted #451610;
    margin-left: 20px;
    margin-right: 20px;
}
.specific {
    font-size: 4vw;
    color: #451610;
}
#vote {
    color: #451610;
    text-align: center;
    padding: 2%;
    font-size: 3vw;
    margin-top: 20px;
    border: 2px solid #451610;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
#contact {
    display: flex;
    flex-direction: row;
    font-size: 2.3vw;
    color: #451610;
    justify-content: center;
}
#footer {
    color: black;
    text-align: center;
    margin-top: 10px;
    font-size: 2vw;
    margin-bottom: 10px;
}
#year {
    display: inline;
}
#venue {
    display: flex;
    flex-direction: row;
    text-align: center;
}
#note_text {
    text-align: center;
    background-color: white;
    padding: 10px;
    color: #451610;
}
#location {
    width: 4%;
    height: 4%;
    margin-top: 3%;
    background-color: white;
    border-radius: 50%;
}
.info {
    font-size: 3vw;
    color: #451610;
    font-weight: 600;
    text-align: left;
}
#photo {
    margin-top: 0;
    background-color: white;
}
#reg {
    color: white;
    background-color: #451610;
    padding: 1vw;
    font-size: 4vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.general_footer {
    color: black;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 2vw;
    text-align: center;
}
#prizes {
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 10px #000;
}
.tag {
    text-align: center;
    font-size: 4vw;
    color: white;
    background-color: #451610;
    padding: 5px 0px 5px 0px;
    border-radius: 5px;   
    width: 100%;
    font-weight: bold;
    margin-top: 0;
}
#face {
    width: 100%;
    height: 20%;
}
.brown_logo {
    margin: 0 auto -4vw auto;
    width: 16vw;
    height: 16vw;
    text-align: center;
    justify-content: center;
}
.image {
    width: 100%;
    height: fit-content;
    border-radius: 5%;
}
#whatsapp {
    width: 4vw;
    height: 4vw;
    margin: -1vw 1vw 0 1vw;
}
#whatsapp2 {
    width: 4vw;
    height: 4vw;
    margin: 0 1vw 0 1vw;
}
a {
    text-decoration: none;
    color: #451610;
    margin-left: 1%;
}
#login {
    color: white;
    background-color: #451610;
    padding: 2vw;
    font-size: 4vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
td {
    color: #451610;
    text-align: center;
    font-weight: 600;
    font-size: 2vw;
}
th {
    color: white;
    background-color: #451610;
    font-size: 2vw;
}

td img {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
}
#search {
    width: 90%;
    display: block;
}
.animate {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.6s ease-out;
}
.animate.show {
    opacity: 1;
    transform: translateY(0);
}
.animateX {
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.6s ease-out;
}
.animateX.show {
    opacity: 1;
    transform: translateX(0);
}
.animateXL {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.6s ease-out;
}
.animateXL.show {
    opacity: 1;
    transform: translateX(0);
}
#logout_btn {
    display: flex;
    float: right;
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 2vw;
    font-weight: 600;
}
.order {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {
        transform: rotate(360deg);
    }
}
.spinnerStyle {
    border: 1vw solid #FECD44;
    border-radius: 50%;
    border-top: 1vw solid #451610;
    width: 2vw;
    height: 2vw;
    animation: spin 1s linear infinite;
    margin-left: 1vw;
}
#instruction {
    background-color: white;
    color: #451610;
    font-size: 3vw;
    padding: 1vw;
    font-weight: 600;
}
#info2 {
    text-align: left;
    color: #aa0000;
}

@media (min-width: 768px) {
    #prev {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 90%;
}
    .winner {
    width: 400px;
    height: 400px;
}
.tag {
    text-align: center;
    font-size: 1.5vw;
    color: white;
    background-color: #451610;
    padding: 5px 0px 5px 0px;
    border-radius: 5px;   
    width: 80%;
    font-weight: bold;
    margin-top: 0;
}
.specific {
    font-size: 2vw;
    color: #451610;
}
.image {
    width: 80%;
    height: fit-content;
}
#reg {
    color: white;
    background-color: #451610;
    padding: 1vw;
    font-size: 2vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
input, select {
    padding: 0.5vw;
    outline: none;
    border: none;
    text-align: center;
    font-size: 1.5vw;
    color: #451610;
    font-weight: 600;
}
.info {
    font-size: 2vw;
    color: #451610;
    font-weight: 600;
    text-align: left;
}
.order {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
}
.btn-two {
    background-color: #FECD44;
    color: #451610;
    font-size: 1.5vw;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 2px solid #FECD44;
    font-weight: bold;
    border-radius: 5px;
}
.btn-three {
    background-color: #451610;
    color: #FECD44;
    font-size: 1.5vw;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 2px solid #451610;
    font-weight: bold;
    border-radius: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.btn-four {
    background-color: #451610;
    color: #FECD44;
    font-size: 1.5vw;
    padding: 0.5vw;
    border: 2px solid #451610;
    font-weight: 600;
    border-radius: 5px;
}
#footer {
    color: black;
    text-align: center;
    margin-top: 10px;
    font-size: 1vw;
    margin-bottom: 10px;
}
.general_footer {
    color: black;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1vw;
    text-align: center;
}
#login {
    color: white;
    background-color: #451610;
    padding: 1vw;
    font-size: 2vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.spinnerStyle {
    border: 0.5vw solid #FECD44;
    border-radius: 50%;
    border-top: 0.5vw solid #451610;
    width: 1vw;
    height: 1vw;
    animation: spin 1s linear infinite;
    margin-left: 0.5vw;
}
#instruction {
    background-color: white;
    color: #451610;
    font-size: 2vw;
    padding: 1vw;
    font-weight: 600;
    border: 3px solid #451610;
}
#whatsapp2 {
    width: 3vw;
    height: 3vw;
    margin: 0 1vw 0 1vw;
}
}
