body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background: linear-gradient(to right, #301364, #752EF4); */
    background-image: url(./assets/note_two.jpg);
    background-size: cover;
    background-repeat: repeat-x;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

.centerTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.btn {
    background: #007bff;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: none;
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
}

table {
    border-collapse: collapse;
    background: white;
}

#sbc_header {
    background-color: white;
    width: 100%;
    height: 6%;
    display: flex;
    flex-direction: row;
    float: left;
}

#logo {
    width: 10%;
    height: 200%;
    margin-left: 2%;
}

#bg-img {
    width: 100%;
    height: 30%;
}

#sbc {
    background-image: url("./assets/boy_singing.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.sbc_text {
    font-size: 8vw;
    text-align: left;
    color: white;
    width: 50%;
    margin-left: 1%;
}
#about_us {
    background: linear-gradient(to right, #301364, #752EF4);
    border-radius: 15px;
    background-color: #007bff;
    box-shadow: 10px 10px 10px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40%;
    width: 40%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    font-size: 1.5vw;
}
#about_text {
    margin-top: -10px;
}
#mission {
    /* background-image: url(./assets/mic.jpg); */
    /* background-size: cover; */
    background: linear-gradient(to right, #301364, #752EF4);
    box-shadow: 10px 10px 10px #000;
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    padding: 2%;
    margin-bottom: 2%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 40%;
    height: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    font-size: 1.5vw;
}
#mission_text {
    margin-top: -10px;
}
#vision {
    /* background-image: url(./assets/mic.jpg);
    background-size: cover; */
    background: linear-gradient(to right, #301364, #752EF4);
    box-shadow: 10px 10px 10px #000;
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    padding: 2%;
    margin-bottom: 2%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 40%;
    height: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    font-size: 1.5vw;
}
#vision_text {
    margin-top: -10px;
}
#why {
    background-image: url(./assets/mic.jpg);
    background-size: cover;
    height: 40%;
    background-repeat: no-repeat;
    padding: 2%;
    margin: 2%;
    margin-top: 4%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    font-size: 2vw;
    text-shadow: 2px #301364;
}
#why_text {
    margin-top: -20px;
}
.point {
    font-weight: bold;
}
#winners {
    height: 50%;
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
}
#stages {
    background-image: url(./assets/singer.png);
    background-size: cover;
    height: 70%;
    color: white;
    padding: 2%;
    margin-top: 20px;
    font-size: 2vw;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
.btn-two {
    background-color: #301364;
    color: white;
    font-size: 1.5vw;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 2px solid #301364;
    font-weight: bold;
    border-radius: 10px;
}
.centralize {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#prev_winners {
    height: 200%;
    width: 100%;
    margin-bottom: 60%;
}
#prev {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
}
#prev_text {
    color: #301364;
    font-size: 4vw;
    text-align: center;
    border: 3px dotted #301364;
    margin-left: 20px;
    margin-right: 20px;
}
#vote {
    color: #301364;
    text-align: center;
    /* background-color: #007bff; */
    padding: 2%;
    font-size: 2vw;
    margin-top: 60%;
    border: 2px solid #301364;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#contact {
    display: flex;
    flex-direction: row;
    font-size: 1.5vw;
    color: #301364;
    justify-content: center;
}
#footer {
    color: black;
    text-align: center;
    margin-top: 10px;
    font-size: 1vw;
}
#year {
    display: inline;
}
#venue {
    text-align: center;
    display: flex;
    flex-direction: row;
}
#note_text {
    text-align: center;
    background-color: #301364;
    padding: 10px;
}
#location {
    width: 4%;
    height: 4%;
    margin-top: -1%;
    background-color: white;
    border-radius: 50%;
}
.info {
    font-size: 1.2vw;
    color: white;
    text-align: center;
    margin-top: -10px;
    background-color: #555;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    width: 70%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
#reg {
    color: white;
    background-color: #301364;
    padding: 5px 5px 5px 5px;
    width: 50%;
    font-size: 3vw;
    text-align: center;
}
.general_footer {
    color: black;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1vw;
}
#prizes {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000;
}
.winner {
    width: 400px;
    height: 400px;
}
.tag {
    text-align: center;
    font-size: 1.5vw;
    color: white;
    background-color: #301364;
    padding: 5px 0px 5px 0px;
    border-radius: 5px;   
}
#face {
    width: 100%;
    height: 20%;
}
.image {
    width: 80%;
    height: fit-content;
    border-radius: 5%;
}
.tag {
    font-size: 1vw;
    text-align: center;
    width: 80%;
    font-weight: bold;
}
#whatsapp {
    width: 3vw;
    height: 3vw;
    margin: -1vw 1vw 0 0;
}
a {
    text-decoration: none;
    color: #301364;
    margin-left: 1%;
}
#login_form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#login {
    color: white;
    background-color: #301364;
    padding: 5px 5px 5px 5px;
    width: 50%;
    font-size: 3vw;
    text-align: center;
}
